body { 
font:75%  Arial, Helvetica, sans-serif;
color:#333; 
background:#c1c1d7 url(back.png) repeat-y top center;
margin:0; 
text-align:center; 
}


p{ 
font-size:1em;
line-height:1.4em;
margin:0.7em 0 0.7em 0;
padding:0;
}
#preamble p,
#supportingText p{
background:transparent url(hr.png) no-repeat bottom center;
margin:0;
padding:1.4em 0 1.4em 0;
}
a{ 
color:#900;
}
a:hover,
a:focus,
a:active
{ 
background:black; 
color:white;
border:0;
text-decoration:none;
}
div[id="container"] a,
div[id="container"] a:visited{
text-decoration:none;
border-bottom:1px dotted #900;
}


#container { 
width:700px;
text-align:left;
padding:0;  
margin:0 auto; 
}
#intro,
#preamble,
#supportingText,
#quickSummary{
width:450px;
float:right;
clear:right;
margin:20px 0 0 0;
}

#intro #pageHeader {
	width:450px;
	height:330px;
	background:white url(images/image.jpg) no-repeat top center;
	float:right;
	margin:10px 0 0 0;
	padding:0;
	text-align: right;
	color: #363435;
}
h3{
width:290px;
height:35px;
margin:5px 0 5px 0;
padding:0;
float:right;
overflow:hidden;
}
#preamble h3{
}
#explanation h3{
}
#participation h3{
}
#benefits h3{
}
#linkList{
font-family:Verdana, Arial, Helvetica, sans-serif;
margin:0;
padding:30px 0 0 0;
width:208px;
text-align:right;
float:none;
float:none;
}

#linkList h3{
	margin: 0;
	float: left;
}

#lselect,
#lfavorites,
#larchives,
#lresources
{
border-left:1px solid white;
padding:20px 0 0 0;
margin:0 0 40px 0;
}
#lselect{
}
#larchives{
}
#linkList ul{
margin:0;
padding:0;
list-style:none;
}
#linkList li{
font-size:0.8em;
display:block;
margin:0;
padding: 0 0 7px 0;
border-bottom:1px solid #F9F7F6;
}
#linkList li a{ 
display:block;
padding:4px 10px 4px 5px;
margin:0 0 5px 0;
border:0;
text-transform:uppercase;
font-weight:bold;
text-decoration:none;
color:#333333;
}
#lselect li a,
#lfavorites li a{
background:transparent url(visited.png) no-repeat  -100px;
}
#lselect li a:visited,
#lfavorites li a:visited{
background-position:0 50% ;
}

#linkList li a:hover,
#linkList li a:focus,
#linkList li a:active{
padding-right:6px;
border-right:4px solid #363435;
color:#363435;
text-decoration:none;
}
	
#linkList li a.c{
display:inline;
padding:0 2px 0 0;
text-transform:lowercase;
font-style:italic;
font-weight:normal;
margin:0;
border:0;
background-position:-100px;
}
#linkList li a.c:hover,
#linkList li a.c:visited,
#linkList li a.c:active,
#linkList li a.c:focus{
padding:0 2px 0 0;
border:0;
background-position:-100px;
}

#larchives  li,
#lresources li{
border:0;
}

#lresources li a,
#larchives  li a{
padding-right:6px;
border:1px solid #F9F7F6;
border-right:4px solid #777;
text-decoration:none;
background:white;
}
#footer{
height:60px;
margin:20px 0 0 0;
padding:40px 0 0 30px;
}

#footer a{
color:#DCE4C2;
text-decoration:none;
font-weight:bold;
border:0;
}
#footer a:hover,
#footer a:focus,
#footer a:active{
color:#900;
text-decoration:none;
font-weight:bold;
border-bottom:1px dotted #900;
background:transparent;
}